.row {
	display: flex;
	flex-wrap: wrap;
}

.gutters {
    margin-left: -5px;
    margin-right: -5px;


    & > [class*="col"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.gutters--10px {
    margin-left: -10px;
    margin-right: -10px;


    & > [class*="col"] {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.col {
	flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.bg-yellow {
	background-color: yellow;
}

.bg-orange {
	background-color: #fff;
}

@for $i from 1 to 12 {
    .col-$(i) {
        flex: 0 0 resolve(100 / resolve(12 / $(i)))%;
        max-width: resolve(100 / resolve(12 / $(i)))%;
    }
}

@each $mediaMixin, $bpName in (min576, min768, min992, min1200), (sm, md, lg, xl)  {
    @mixin $(mediaMixin) {
        @for $i from 1 to 12 {
            .col-$(bpName)-$(i) {
                flex: 0 0 resolve(100 / resolve(12 / $(i)))%;
                max-width: resolve(100 / resolve(12 / $(i)))%;
            }
        }
    }
}

%commonCol {
    position: relative;
    width: 100%;
}
.col {
    @extend %commonCol;
}

@each $bpName in xs, sm, md, lg, xl {
    @for $i from 1 to 12 {
        .col-$(bpName)-$(i) {
            @extend %commonCol;
        }
    }
}

$test: red; 
